
body{
   background-color: rgba(255, 255, 0, 0.692);
}


#contenido {
  background-color:
  rgba(76, 51, 231, 1);
}
#formulario {
  margin-top: 15%;
  background-color: rgba(76, 51, 231, 1);
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center ;
	align-items: center;
	align-content: stretch;
}
#formulario h1 {

  font-size: 32px;
  font-weight: 700;
  }
.user {
  display: flex;
  background: #C7EDED;
  width: 90%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 8;
  border-radius: 8px;
  border-width: 0;
}
.boton{
  background-color: rgba(25, 220, 21, 1);
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  border: 8;
  border-radius: 8px;
  border-width: 0;
  width: 90%;
  padding: 15px;
  margin-bottom: 12%;
}